*{
    font-family: 'Noto Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    font-size:large;
}
html,body{
    background-color: #239F95;
}
h3{
    line-height: 1.5rem;
    font-size: xx-large;
}

.check{
    text-decoration: line-through;
}

li:nth-child(odd){
    background-color: #FCD7AC;
}

li:nth-child(even){
    background-color: #EEEEEE;
}

li:last-child{
    border-radius:0 0 10px 10px;
}
li:first-child{
    border-radius:10px 10px 0 0 ;
}
